<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Pretty Simply Music App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BDAABC0E1CCE9CA0007F4205</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BDAABC221CCE9CA0007F4205</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BDAABC2D1CCE9CA0007F4205</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
